// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container1 {
  padding :20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}